/*---------- Configurador ---------------*/
input.hideradio{
  display: none;
}
.selectwithhtml > label:nth-of-type(3n + 1) > div{
  margin-left: 0 !important;
}
.selectmovil > div:nth-of-type(4n + 1){
  margin-left: 0 !important;
}
.selectwithhtml > label > div,
.selectmovil > div{
  margin-bottom: 20px;
}
input.hideradio:checked+.col.boxed{
  top: -4px;
  -webkit-box-shadow:  0 3px 16px rgb(0 0 0 / 60%);
  box-shadow: 0 3px 16px rgb(0 0 0 / 60%);
}
#configurador .select2-chosen{
  text-align: center;
}
#configurador h2{
  margin-bottom: 35px;
}
.tab-configurador{
  display: inline-block;
}
.tab-configurador:not(:last-child){
  margin-right: 15px;
  margin-bottom: 0 !important;
}
.tab-configurador:not(.active){
  opacity: .2;
}
#grupofibra1:not(.active), #grupofibra2:not(.active),#grupofibra3:not(.active),
#grupofibra4:not(.active),#grupofibra5:not(.active),#grupofijo1:not(.active),#grupofijo2:not(.active){
  display:none;
}
.grupofibra h2,.grupofijo h2{
  margin-bottom: 15px;
}
.slider-tipos{
  display: grid;
  grid-template-columns: 13% 87%;
}
.slider-tipos:nth-of-type(1){
  margin-top: 20px;
}
.slider-tipos:nth-of-type(2){
  margin-bottom: 60px;
}
.steps-slider{
  position: relative !important;
  top: 0 !important;
}
fieldset{
  margin-bottom: 150px !important;
}
/*noUi Slider*/
.slider .noUi-connect{
  background: #019544!important;
}
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
.noUi-connect {
  height: 100%;
  width: 100%;
}
.noUi-origin {
  height: 10%;
  width: 10%;
}
/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}
/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  width: 0;
}
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.noUi-touch-area {
  height: 100%;
  width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px;
}
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}
/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-connects {
  border-radius: 3px;
}
.noUi-connect {
  background: #3FB8AF;
}
/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}
.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}
/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}
/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  color: #999;
}
/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}
.noUi-marker-sub {
  background: #AAA;
}
.noUi-marker-large {
  background: #AAA;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}
.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}
.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}
.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}
.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}
/*fin slider*/
.panel-accordion{
  margin-bottom: 2.5rem;
  box-shadow: 0px 2px 8px rgb(0 0 0 / 11%);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  overflow-x: hidden;
  border: 0 solid #c1c1c1;
  border-radius: .3rem;
  background-color: #fff;
}
.panel-accordion:last-child{
  margin-bottom: 4rem;
}
.panel-accordion .card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.panel-accordion .card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.panel-accordion h4 label {
  display: inline-block;
  margin-bottom: -1rem;
}
.panel-accordion h4 label #caja {
  width: 400px;
  border: 0;
  padding: 10px 0 10px 10px;
}
.panel-accordion h4 label img {
  float: left;
  margin: -5px 8px 5px 0;
  width: 41px !important;
  height: 41px !important;
}
.panel-accordion .card-body{
  display: grid;
  padding: 1.25rem;
}
.panel-accordion .cont-slider {
  margin: 0 50px;
}
.fancy-select-wrap{
  margin-bottom: 24px;
}
.input-acordeon[type=checkbox] {
  height: 27px;
  width: 27px;
  opacity: 0;
  position: absolute;
}
.row-slider{
  padding: 15px;
  margin-top: 35px;
}
.label-acordeon {
  cursor: pointer;
  text-indent: -9999px;
  width: 64px;
  height: 30px;
  background: #999;
  display: block;
  border-radius: 100px;
  position: relative;
}
.label-acordeon:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background: #fff;
  border-radius: 90px;
  transition: .3s;
  box-shadow: -2px 1px 8px rgb(0 0 0 / 27%);
}
.input-acordeon:checked+label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.input-acordeon:checked+label {
  background: #019544;
}
.collapse:not(.show) {
  display: none;
}
.panel-localidad{
  background-color: #fff;
  padding: 1.5rem 1.5rem .5rem;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  overflow-x: hidden;
}
.panel-localidad .titulo-label:hover{
  color: #2e2e3b;
  text-decoration: none;
  border: 2px solid #019544;
  -webkit-box-shadow: 0 0 10px #0c0c0c3b;
  box-shadow: 0 0 10px #0c0c0c3b;
}
.panel-localidad .titulo-label{
  color: #2e2e3b;
  text-decoration: none;
  background: #fff;
  border-radius: .4rem;
  border: 2px solid #d9d9d9;
  padding: 1.5rem 1.5rem 1.1rem;
margin: 15px auto;
  box-shadow: 0 0 8px rgb(0 0 0 / 13%), inset 0 5px 0 #f6f6f600;
  word-wrap: break-word;
  word-break: break-word;
  overflow-x: hidden;
  width: 86%;
}
.panel-localidad .box-texto{
  display: flex;
  position: relative;
}
.regular-radio{
  width: 27px;
  height: 27px;
  position: absolute;
  right: 123px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
}
.box-texto .titulo-label:before {
  border-radius: 50px;
  box-shadow: 0 0 0px rgb(0 0 0 / 30%) inset;
  content: " ";
  height: 25px;
  left: 85%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 25px;
  border: 1px solid #000;
}
.regular-radio:checked ~ .titulo-label:after {
  background: none repeat scroll 0 0 #00750d;
  border-radius: 50px;
  content: " ";
  height: 15px;
  position: absolute;
  left: 85%;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  margin-left: 6px;
}
.regular-radio:checked ~ .titulo-label{
  border: 2px solid #019544;
}
.box-button{
  margin: 15px auto;
  text-align: center;
}
input.nectar-button.jumbo.regular.accent-color.regular-button.siguiente {
  float:right;
  padding: 25px 40px !important;
}
input.wpcf7-form-control.has-spinner.wpcf7-submit.btn-izq{
  float: right;
  padding: 23px 40px !important;
  font-size: 18px !important;
}
.collapse .card{
  background-color: #F7F7F7;
}
.grupomovil .boxed:hover{
  top: 0 !important;
}
fieldset:not(:first-of-type) {
  display: none;
}
.grupomovil .button{
  position: absolute;
  z-index: 999;
  width: 43px;
  height: 43px;
  background: #019544;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -12px;
  left: 215px;
}
.grupomovil .button:before {
   position: absolute;
   content: "";
   width: 20px;
   height: 2px;
   background: #fff;
   transform: rotate(90deg);
   transition: all 0.4s ease;
 }
.grupomovil .button:after {
   position: absolute;
   content: "";
   width: 20px;
   height: 2px;
   background: #fff;
   transition: all 0.4s ease;
 }
.grupomovil input[id^="toggle"]{
  display: none;
}
.grupomovil input[id^="toggle"]:checked ~ .nav {
  opacity: 1;
  transform: translateY(10%);
}
.grupomovil input[id^="toggle"]:checked ~ .button:before {
  transform: rotate(225deg);
}
.grupomovil input[id^="toggle"]:checked ~ .button:after {
  transform: rotate(135deg);
}
/* Popover */
.tooltip {
  background: #ffffff;
  color: #643045;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.2);
  display: none;
  -webkit-box-shadow: 0px 0px 20px rgb(0 0 0 / 36%);
  box-shadow: 0px 0px 20px rgb(0 0 0 / 36%);
}
.tooltip[data-show] {
  display: block;
}
.popover-arrow,
.popover-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.popover-arrow {
  visibility: hidden;
}

.popover-arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);

}
.tooltip[data-popper-placement^='top'] > .popover-arrow {
  bottom: -4px;
}
.tooltip[data-popper-placement^='bottom'] > .popover-arrow {
  top: -4px;
}
.tooltip[data-popper-placement^='left'] > .popover-arrow {
  right: -4px;
}
.tooltip[data-popper-placement^='right'] > .popover-arrow {
  left: -4px;
}

/*Formulario tarifa*/
.oculto{
  display:none !important;
}
.form-configurador{
  padding-bottom: 25px;
}
.direccion{
  margin-bottom: 35px;
}
.nombre .wpcf7-form-control, .email .wpcf7-form-control, .tel .wpcf7-form-control, 
.direccion .wpcf7-form-control, .comentario .wpcf7-form-control  {
  background-color: white !important;
  border: green 1px solid !important;
}
/* Barra inferior */
.navbottom{
  height: 150px;
  width: 100%;
  border: black 1px solid;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
  margin-bottom: 0 !important;
  display: none;
}
.movil.disabled{
  display: none;
}
.navbottom.active{
  display: inline-flex !important;
  justify-content: center !important;
}
.internet, .telefonia, .movil, .total{
  display: contents;
}
.internet .boxed{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 20px !important;
}
.telefonia .boxed{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 20px !important;
}
.movil .boxed{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 5px;
}
.total .boxed{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 0;
  margin-left:40px !important;
}
.internet .col.boxed:hover{
  top: 0;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
.telefonia .col.boxed:hover{
  top: 0;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
.movil .col.boxed:hover{
  top: 0;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
.total .col.boxed:hover{
  top: 0;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}