.popover-tooltip {
  background: #ffffff;
  color: #643045;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.2);
  display: none;
  -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}
.popover-tooltip[data-show] {
  display: block;
}
.popover-arrow{
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 11px;
  border-color: transparent;
  border-right-color: rgba(0,0,0,0.25);
  border-left-width: 0;
  border-style: solid;
}
.popover-arrow::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  content: " ";
  border-width: 10px;
  border-color: transparent;
  border-right-color: #fff;
  border-left-width: 0;
  border-style: solid;
  bottom: -10px;
  left: 1px;
}
.popover-tooltip[data-popper-placement^='top'] > .popover-arrow {
  bottom: -11px;
}
.popover-tooltip[data-popper-placement^='bottom'] > .popover-arrow {
  top: -11px;
}
.popover-tooltip[data-popper-placement^='left'] > .popover-arrow {
  right: -11px;
}
.popover-tooltip[data-popper-placement^='right'] > .popover-arrow {
  left: -11px;
}
